<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'unsafe-inline' {{extensionUri}}; script-src 'nonce-{{nonce}}' 'unsafe-inline' https://cdn.jsdelivr.net; img-src data: https:;">
    <title>Markdown Preview</title>
    <!-- KaTeX CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0Mv4nFf6dLB3tL0p5H4AqM3Z30aU6wJkRPa0eK3Gp1q3a7Gq3V2G2" crossorigin="anonymous">
    <style>
        {{{themeStyles}}}
    </style>
</head>
<body>
    <div class="container">
        {{{content}}}
    </div>
    <script nonce="{{nonce}}">
        {{{webviewScript}}}
    </script>
</body>
</html>